new_env/
        .history/
        .itay's-workspace.code-workspace
        .vscode/
        1679849529.009801000.pcd
        Innoviz_Project.code-workspace
        OpenPCDet-master_New/
        OpenPCDet-master_New_copy/.vscode/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/Lidar_video_recording/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/copy_files.py
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/get_results.py
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/evaluations/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz_mostEhannced/default/ckpt/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz_mostEhannced/default/eval/epoch_80/val/default/log_eval_20240801-213513.txt
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz_mostEhannced/default/eval/eval_with_train/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz_mostEhannced/default/point_pillar_.yaml
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz_mostEhannced/default/tensorboard/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/model_output_pointpillar_innoviz_mostEhannced/default/train_20240801-195234.log
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pointpillar_evaluations/models_outputs/point_pillar_best/
        OpenPCDet-master_New_copy/3D_Object_Detector/Evaluation/pvrcnn_evaluations/
        OpenPCDet-master_New_copy/3D_Object_Detector/custom_dataset_Innoviz.yaml
        OpenPCDet-master_New_copy/3D_Object_Detector/data/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/.gitmodules
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/LICENSE
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/README.md
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/16bit_optimization/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/README.md
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/Full_Hailo_Innoviz_PointPillars_POC.ipynb
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/Hailo_PointPillars_POC.ipynb
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/README.md
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/__pycache__/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/acceleras.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/allocator.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/calib.npy
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/hailo_sdk.client.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/hailo_sdk.core.1.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/hailo_sdk.core.2.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/hailo_sdk.core.3.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/hailo_sdk.core.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/hailort.log
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/helper.alls
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/openpcdet2hailo_utils.py
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/pc_samples/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/pp_bev_w_head.har
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/pp_bev_w_head.hef
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/pp_bev_w_head.onnx
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/pp_bev_w_head.q.har
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/pp_bev_w_head_simple.onnx
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/prediction_old/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/res_00001.txt
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/results/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/rsc/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/model_compilation/pointpillars/visualization/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/resources/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/runtime/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/Hailo-Innoviz-HW-Offload/tools/
        OpenPCDet-master_New_copy/3D_Object_Detector/mmlab_hailo/OpenPCDet-master_New/
        OpenPCDet-master_New_copy/3D_Object_Detector/point_pillar.yaml
        OpenPCDet-master_New_copy/LICENSE
        OpenPCDet-master_New_copy/README.md
        OpenPCDet-master_New_copy/README_MIne.md
        OpenPCDet-master_New_copy/build/
        OpenPCDet-master_New_copy/data/
        OpenPCDet-master_New_copy/docker/
        OpenPCDet-master_New_copy/docs/
        OpenPCDet-master_New_copy/output/
        OpenPCDet-master_New_copy/pcdet.egg-info/
        OpenPCDet-master_New_copy/pcdet/
        OpenPCDet-master_New_copy/pretrained/
        OpenPCDet-master_New_copy/requirements.txt
        OpenPCDet-master_New_copy/setup.py
        OpenPCDet-master_New_copy/tools/Preparations/
        OpenPCDet-master_New_copy/tools/__pycache__/
        OpenPCDet-master_New_copy/tools/_init_path.py
        OpenPCDet-master_New_copy/tools/cfgs/argo2_models/
        OpenPCDet-master_New_copy/tools/cfgs/dataset_configs/
        OpenPCDet-master_New_copy/tools/cfgs/kitti_models/
        OpenPCDet-master_New_copy/tools/cfgs/lyft_models/
        OpenPCDet-master_New_copy/tools/cfgs/nuscenes_models/
        OpenPCDet-master_New_copy/tools/cfgs/once_models/
        OpenPCDet-master_New_copy/tools/cfgs/waymo_models/
        OpenPCDet-master_New_copy/tools/cuda_11.8.0_520.61.05_linux.run
        OpenPCDet-master_New_copy/tools/demo.py
        OpenPCDet-master_New_copy/tools/eval_utils/
        OpenPCDet-master_New_copy/tools/process_tools/
        OpenPCDet-master_New_copy/tools/scripts/
        OpenPCDet-master_New_copy/tools/test.py
        OpenPCDet-master_New_copy/tools/test_v1.py
        OpenPCDet-master_New_copy/tools/train.py
        OpenPCDet-master_New_copy/tools/train_utils/
        OpenPCDet-master_New_copy/tools/train_v1.py
        OpenPCDet-master_New_copy/tools/visual_utils/
        ppenv/
        spconv/